h1{
    color: white;
}

h2{
    color: #00cc66;
}

p{
    color: white;
}


button{
    background-color: #00cc66;
    color: aliceblue;
}

body{
    background-color: black;
}

